<clr-main-container>
    <clr-header>
        <div class="header-nav" [clr-nav-level]="1">
            <div class="branding">
                <a href="https://lpsoftware.space" class="nav-link">
                    <clr-icon shape="happy-face"></clr-icon>
                </a>
                <span i18n class="title">{{'Pyramid Game' | translate}}</span>
            </div>
            <a i18n (click)="finish()" class="nav-link nav-text">{{'Finish game' | translate}}</a>
        </div>
    </clr-header>
    <div class="content-container">
        <main class="content-area center-content">
            <table>
                <tbody>
                    <tr class="row" *ngFor="let row of structure">
                        <td *ngFor="let item of row">
                            <button id={{item.number}} [disabled]="checkCard(item.number)" (click)="playCard(item)"
                                class="card button">

                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <nav class="sidenav nav" [clr-nav-level]="2">
            <h2 i18n style="text-align: center;">{{'Drinks' | translate}}</h2>
            <table class="table table-users">
                <thead>
                    <tr>
                        <th i18n>{{'User' | translate}}</th>
                        <th i18n>{{'Cards' | translate}}</th>
                        <th i18n>{{'Drinks' | translate}}</th>
                        <th i18n>{{'Gifts' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userDrinks">
                        <td>{{user.name}}</td>
                        <td>{{user.cards}}</td>
                        <td>{{user.drinks}}</td>
                        <td>{{user.gifts}}</td>
                    </tr>
                </tbody>
            </table>
        </nav>
    </div>
</clr-main-container>

<clr-modal [(clrModalOpen)]="modalWinners" [clrModalClosable]="false">
    <h3 i18n class="modal-title">{{'Winners' | translate}}</h3>
    <div class="modal-body">
        <table class="table table-users">
            <thead>
                <tr>
                    <th i18n>{{'User' | translate}}</th>
                    <th i18n>{{'Drinks' | translate}}</th>
                    <th i18n>{{'Gifts' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userDrinks">
                    <td>{{user.name}}</td>
                    <td>{{user.drinks}}</td>
                    <td>{{user.gifts}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModalWinners()">{{'Finish' | translate}}</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalCard" [clrModalClosable]="false" [clrModalSize]="'sm'">
    <div class="modal-body body-modal">
        <p>{{userPlayed}} {{action}} {{actualRow}} {{shots}}</p>
        <br>
        <img src={{cardPlayed}} alt="Card" class="card-played" />
    </div>
    <div class="modal-footer footer-modal">
        <button i18n type="button" class="btn btn-primary" (click)="closeModalCard()">{{'Close' | translate}}</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalRules" [clrModalClosable]="false">
    <h3 i18n class="modal-title">{{'Set a rule' | translate}}</h3>
    <div class="modal-body">
        <p i18n>{{userRules}} {{'choose your rule' | translate}}</p>
    </div>
    <div class="modal-footer">
        <button i18n type="button" class="btn btn-primary" (click)="closeModalRules()">{{'Close' | translate}}</button>
    </div>
</clr-modal>