<clr-main-container>
    <clr-header>
        <div class="header-nav" [clr-nav-level]="1">
            <div class="branding">
                <a href="https://lpsoftware.space" class="nav-link">
                    <clr-icon shape="happy-face"></clr-icon>
                </a>
                <span i18n class="title">Pyramid Game</span>
            </div>
            <a i18n routerLink="/" (click)="finish()" class="nav-link nav-text">Finish game</a>
        </div>
    </clr-header>
    <div class="content-container">
        <main class="content-area center-content">
            <table>
                <tbody>
                    <tr class="row" *ngFor="let row of structure">           
                        <td *ngFor="let item of row">
                            <button id={{item.number}} [disabled]="checkCard(item.number)" (click)="playCard(item)" class="card button">
                                
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <nav class="sidenav" [clr-nav-level]="2">
            <h2 style="text-align: center;">Drinks</h2>
            <table class="table table-users">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Cards</th>
                        <th>Drinks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userDrinks">
                        <td>{{user.name}}</td>
                        <td>{{user.cards}}</td>
                        <td>{{user.drinks}}</td>
                    </tr>
                </tbody>
            </table>
        </nav>
    </div>
</clr-main-container>