.center-content {
    display: flex;
    justify-content: center;
}
.row {
    display: flex;
    justify-content: center;
}
.card {
    height:42px;
    width:30px;
    margin: 15%;
    background: url("../../../assets/Card.png") no-repeat top center;
    background-size: 100%;
}
.button {
    cursor: pointer;
    outline: none;
    color: blue;
    border: none;
    box-shadow: 0 2px #999;
}
.button:hover {background-color: #3e8e41}
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.button:disabled {
    background: black;
}
.table-users {
    width: 90%;
    margin-left: 5%;
}
.nav {
    width: 50%;
    height: inherit;
}
.footer-modal {
    justify-content: center;
}
.body-modal {
    text-align: center;
    word-wrap: break-word;
}
.card-played {
    width: 70%;
    height: auto;
}
.birthday-present {
    color: red;
    margin-left: 5%;
    align-content: center;
}
.bomb {
    color: black;
    margin-left: 5%;
    align-content: center;
}
.jet {
    color: black;
    margin-left: 5%;
    align-content: center;
}
.textEmphasis {
    font-weight: bold;
}
::ng-deep .overflow-modal-armageddon .modal-content {
    background-image: url('../../../assets/Modes/Armageddon.png');
    background-position: top center;
    background-size: cover;
}

::ng-deep .overflow-modal-nuclear .modal-content {
    background-image: url('../../../assets/Modes/Nuclear.png');
    background-position: top center;
    background-size: cover;
}

::ng-deep .overflow-modal-birthday .modal-content {
    background-image: url('../../../assets/Modes/Birthday.png');
    background-position: top center;
    background-size: cover;
}


.modal-title-style {
    font-weight: bold;
    color: black;
    font-size: xx-large;
    text-align: center;
}
.modal-body-style {
    color: black;
    font-size: medium;
    text-align: center;
} 