<header class="header-6">
    <div class="branding">
        <a href="https://lpsoftware.space" class="nav-link">
            <clr-icon shape="happy-face"></clr-icon>
        </a>
        <span class="title">Travel Planner</span>
    </div>
    <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">Home</a>
        <a href="javascript://" class="nav-link nav-text">Start Game</a>
        <a href="javascript://" class="nav-link nav-text">Statistics</a>
    </div>
</header>
<p>home works!</p>