.title {
    text-align: center;
    font-weight: bold;
}
.center-content {
    display: grid;
    justify-content: center;
}
.image {
    width: 80%;
    height: auto;
    top: 25%;
    position: relative;
    align-self: center;
}
.body-container {
    background: white;
    background-color: white;
}
.nav {
    width: 50%;
    height: inherit;
}
.lpsoftware {
    position: absolute;
    bottom: 10%;
    text-align: center;
}