<clr-main-container>
    <clr-header>
        <div class="header-nav" [clr-nav-level]="1">
            <div class="branding">
                <a href="https://lpsoftware.space" class="nav-link">
                    <clr-icon shape="happy-face"></clr-icon>
                </a>
                <span i18n class="title">Pyramid Game</span>
            </div>
            <a i18n routerLink="/" routerLinkActive="active" class="active nav-link nav-text">Home</a>
            <a i18n routerLink="/form" class="nav-link nav-text">Start Game</a>
            <a i18n routerLink="/" class="nav-link nav-text">Statistics</a>
        </div>
    </clr-header>
    <div class="content-container body-container">
        <main class="content-area center-content">
            <h1 i18n class="title">Pyramid Game</h1>
            <h5 i18n>Steps</h5>
            <ul class="clr-timeline clr-timeline-vertical">
                <li class="clr-timeline-step">
                    <clr-icon shape="circle" aria-label="Not started"></clr-icon>
                    <div class="clr-timeline-step-body">
                        <span i18n class="clr-timeline-step-title">Ingrese nombre de jugadores</span>
                        <span i18n class="clr-timeline-step-description">1-26 players</span>
                    </div>
                </li>
                <li class="clr-timeline-step">
                    <clr-icon shape="circle" aria-label="Not started"></clr-icon>
                    <div class="clr-timeline-step-body">
                        <span i18n class="clr-timeline-step-title">Ingrese altura de pirámide</span>
                        <span i18n class="clr-timeline-step-description">1-10</span>
                    </div>
                </li>
                <li class="clr-timeline-step">
                    <clr-icon shape="success-standard" aria-label="Completed"></clr-icon>
                    <div class="clr-timeline-step-body">
                        <span i18n class="clr-timeline-step-title">Empiece a jugar y beber</span>
                    </div>
                </li>
            </ul>
            <h5 i18n>Rules</h5>
            <ul class="clr-timeline clr-timeline-vertical">
                <li class="clr-timeline-step">
                    <clr-icon shape="dot-circle" aria-current="true" aria-label="Current"></clr-icon>
                    <div class="clr-timeline-step-body">
                        <span i18n class="clr-timeline-step-title">Se asignan 2 cartas al azar por jugador</span>
                    </div>
                </li>
                <li class="clr-timeline-step">
                    <clr-icon shape="dot-circle" aria-current="true" aria-label="Current"></clr-icon>
                    <div class="clr-timeline-step-body">
                        <span i18n class="clr-timeline-step-title">La dificultad depende de la altura de la piramide</span>
                    </div>
                </li>
            </ul>
        </main>
        <nav class="sidenav body-container" [clr-nav-level]="2">
            <img src="../../../assets/Example.png" alt="Example" class="image"/>
        </nav>
    </div>
</clr-main-container>