.title {
    text-align: center;
    font-weight: bold;
}
.div-form {
    width: 70%;
    margin-left: 15%;
}
.select-form {
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
}
.input-form {
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 40%;
    outline-width: 0ch;
    text-align: center;
}
.input-form-text {
    margin-left: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
    border: 0ch;
    width: 90%;
}